install_manifest.txt
*.swp
*.o
*.a
*.orig
bin/
test/
build/
build-*/
.lvimrc
config-debug
subprojects/wlroots
tmp
subprojects

Makefile
moc_*
.qmake*
editor.app
editor/editor

node_modules
dist
.cache
